[Unit]
Description=bspwm session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target
Wants=xdg-desktop-autostart.target
Wants=wallpaper.service
Wants=sxhkd@bspwm.service
Wants=picom.service
Wants=polybar.service
Wants=numlockx.service
Wants=unclutter.service
Wants=keyboard.service
