# xprofile: allows you to execute commands at the beginning of the X user session
# before the window manager is started.

# keyboard
set-keyboard &

# Hotkeys
sxhkd &

# Window Compositor
picom &

# Wallpaper
xwallpaper --zoom "$HOME/.config/X11/background" &

# Notifications
dunst &

# Night light
redshift -l -22.90556:-47.06083 &

# Hide mouse pointer when idle
unclutter &

# Network applet
nm-applet --indicator &

# Cloud
insync start &

# Automount devices
udiskie --smart-tray &

# Devices
solaar -w hide &

# Music Player
youtubemusic &
