# .xprofile: allows you to execute commands at the beginning of the X user session
# before the window manager is started.

# X Colors
xrdb "${XDG_CONFIG_HOME}/X11/xresources"

# Wallpaper
setbg

# keyboard
setkb

# Window compositor
picom &

# Network Manager Applet
nm-applet --indicator &

# Cloud Storage
insync start &

# Night light
redshift &

# Hotkeys
sxhkd &

# Hide mouse pointer when idle
unclutter &

# Automount devices
udiskie --smart-tray &

# Devices
solaar -w hide &
