[Unit]
Description=Mopidy music server
After=network.target
After=sound.target

[Service]
ExecStart=/usr/bin/mopidy

[Install]
WantedBy=default.target
