@import "./gruvbox-material.css";

* {
  border: none;
  font-family: JetBrainsMono;
  font-size: 18px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  color: @fg0;
  background: none;
}

tooltip {
  background: alpha(@bg0, 0.8);
  border-radius: 10px;
}

tooltip label {
  color: @fg0;
}

.module {
  padding: 1px 8px 1px 8px;
  margin: 3px;
  border-radius: 10px;
  background: alpha(@bg0, 0.8);
}

#workspaces button {
  padding: 5px;
  color: @bg1;
  border-radius: 10px;
}

#workspaces button.active {
  color: @fg0;
  background: @bg3;
}

#workspaces button.focused {
  color: @green;
  background: @bg_visual_green;
}

#workspaces button.urgent {
  color: @red;
  background: @bg_visual_red;
}

#workspaces button:hover {
  background: alpha(@bg2, 0.8);
  color: @fg1;
}

#custom-updates {
  color: @yellow;
}

#cpu.warning {
  color: @orange;
}

#cpu.critical {
  color: @red;
}

#temperature.critical {
  color: @red;
}

#memory.warning {
  color: @orange;
}

#memory.critical {
  color: @red;
}

#custom-weather {
  padding-top: 3px;
}
