* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(14, 16, 17, 0);
  color: #d4be98
}

tooltip {
  background: rgba(29, 32, 33, 1);
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #d4be98;
}

tooltip label {
  color: #d4be98;
}

#custom-launcher,
#workspaces,
#window,
#custom-updates,
#cpu,
#memory,
#disk,
#temperature,
#custom-acpi,
#custom-volume,
#tray,
#custom-weather,
#clock,
#custom-session {
  background: #141617;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 0px;
}

/* left-most */
#custom-launcher, #cpu, #temperature, #tray  {
  border-radius: 10px 0px 0px 10px;
}

/* right-most */
#workspaces, #disk, #custom-acpi, #clock {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

/* single */
#custom-volume, #custom-updates, #custom-session {
  border-radius: 10px;
  margin-right: 10px;
}


#custom-launcher {
  color: #7daea3;
  margin-left: 10px;
  border-right: 0px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: #3c3836;
  margin-right: 5px;
}

#workspaces button.active {
  color: rgb(212, 190, 152);
}

#workspaces button.focused {
  color: #333e34;
  background: #a9b665;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #442e2d;
  background: #ea6962;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #141617;
  color: #d4be98;
  border-radius: 10px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#custom-updates {
  color: #d8a657;
}

#temperature.critical {
  color: #ea6962;
}

#custom-acpi {
  color: #a9b665;
  border-left: 0px;
  border-right: 0px;
}

#custom-volume {
  color: #7daea3;
  border-left: 0px;
  border-right: 0px;
}

#custom-session {
    color: #ea6962;
}
